{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <div>
        <img src="{% static 'me.jpeg' %}" alt="Profile Image" class="img-fluid">
    </div>
    <div class="container-fluid bg-light py-5">
        <div class="row">
            <div class="col-12">
                <h2>BINE AI VENIT!</h2>
                <p>Cred că fiecare călătorie este o oportunitate de a descoperi ceva nou – fie că este vorba despre o
                    destinație
                    luxuriantă, o cultură vibrantă sau o experiență autentică locală.</p>
                <p>Suntem dedicați să îți oferim inspirație, ghiduri utile și resurse care să te ajute să explorezi
                    lumea cu
                    încredere și entuziasm.</p>
                <p>Echipa noastră de pasionați de călătorii și exploratori colaborează pentru a-ți pune la dispoziție
                    cele mai
                    bune sfaturi de călătorie, destinații recomandate și idei de itinerarii personalizate.</p>
                <p>Fie că ești un aventurier experimentat sau un călător la început de drum, misiunea noastră este să
                    facem din
                    planificarea călătoriilor tale o experiență ușoară și plină de inspirație.</p>
                <p>Descoperă alături de noi cele mai frumoase locuri de vizitat, tips & tricks esențiale și povești
                    captivante
                    care îți vor transforma călătoriile în amintiri de neuitat.</p>
                <p>Explorăm lumea împreună – un loc, o experiență și o poveste pe rând.</p>
            </div>
        </div>
    </div>
{% endblock %}
