<!-- articles_by_country.html -->
{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <h2>Articole din {{ view.kwargs.country_name }}</h2>
    <div>
        <img src="{% static 'Europe.jpeg' %}" alt="Profile Image" class="img-fluid">
    </div>
    {% if posts %}
        {% for post in posts %}
            <article class="media content-section">
                <img class="rounded-circle" src="{{ post.author.profile.image.url }}" alt="Image" width="50"
                     height="50">
                <div class="media-body>">
                    <div class="article-metadata">
                        <a class="mr-2"
                           href="{% url 'user-posts' post.author.username %}"> {{ post.author }}</a>
                        <a class="mr-2" href="{% url 'country-posts' post.country_name %}">{{ post.country_name }}</a>
                        <small class="text-muted"> {{ post.date_posted|date:"F d, Y" }}</small>
                    </div>
                    <h2><a class="article-title" href="{% url 'detail' post.id %}">{{ post.title }}</a></h2>
                    <p class="article-content break-after-period">{{ post.content }}</p>
                </div>
            </article>
        {% endfor %}
    {% else %}
        <p>Nu există articole din {{ country_name }}.</p>
    {% endif %}
{% endblock %}
