{% extends "blog/base.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Șterge Postarea</legend>
                <h3>Ești sigur că dorești să ștergi postarea "{{ object.title }}?"</h3>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Da, șterge!</button>
                <a class="btn btn-outline-secondary" href="{% url 'detail' object.id %}">Anulează</a>
            </div>
        </form>
    </div>
{% endblock content %}